@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}
main {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Sección de Cupido */
  .cupido {
    width: 50%;
    padding: 20px;
    text-align: center;

  }
  
  .cupido img {
    max-width: 100%;
    margin-top:40px;
    border-radius: 50%;
    transform: rotate(10deg);
    animation: temblor 5s infinite;
  }
  @keyframes temblor {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(2px) rotate(5deg);
    }
    50% {
      transform: translateX(-2px) rotate(-5deg);
    }
    75% {
      transform: translateX(2px) rotate(5deg);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  /* Sección de mensaje */
  .mensaje {
    width: 50%;
    padding: 20px;
  }
  
  .mensaje h2 {
    margin-bottom: 10px;
  }
  .efecto-maquina-escribir {
    animation: escribir 2s linear infinite;
    white-space: nowrap;
    overflow: hidden;
  }
  
  @keyframes escribir {
    0% {
      width: 0;
    }
    50% {
      width: 50%;
    }
  }
  
  
  /* Formulario */
  .mensaje form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .mensaje label {
    margin-bottom: 5px;
  }
  
  .mensaje input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .mensaje button {
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }