@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./media_queries.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
main {
  display: flex;
  flex-wrap: wrap;
}

.cupido {
  width: 50%;
  padding: 20px;
  text-align: center;
}

.cupido img {
  max-width: 80%;
  margin-top: 50px;
  border-radius: 50%;
  transform: rotate(10deg);
  animation: temblor 5s infinite;
}
@keyframes temblor {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(2px) rotate(5deg);
  }
  50% {
    transform: translateX(-2px) rotate(-5deg);
  }
  75% {
    transform: translateX(2px) rotate(5deg);
  }
  100% {
    transform: translateX(0);
  }
}

.mensaje {
  width: 50%;
  padding: 20px;
}

.mensaje h2 {
  margin-top: 10.5rem;
  background: linear-gradient(to right, #6b0000, #ff0000);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.logo-img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.efecto-maquina-escribir {
  animation: escribir 4s linear infinite;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes escribir {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.mensaje form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 35px;
}

.mensaje label {
  margin-bottom: 15px;
  color: #6b0000;
}

.mensaje input,
.mensaje button {
  padding: 10px 20px;
  border: 1px solid #6b0000;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.mensaje input:hover,
.mensaje button:hover {
  border-color: #ff0000;
  box-shadow: 0 0 5px #6b0000;
}

.mensaje button {
  padding: 10px 20px;
  background: linear-gradient(to right, #ff0000, #6b0000);
  color: #ffffff;
  border: none;
  cursor: pointer;
  background-size: 200% 100%;
  animation: gradientTransition 2s infinite;
}
@keyframes gradientTransition {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.mensaje button:active {
  background-color: #6b0000;
  animation: none;
}

#name {
  box-shadow: 0 0 5px #6b0000;
  border-color: #ff0000;
  color: #6b0000;
  transition: color 0.3s ease-in-out;
}

#name:hover {
  color: #ff0000;
}

#name:focus {
  outline: none;
  box-shadow: 0 0 5px #6b0000;
  border-color: #ff0000;
}
#nameError {
  color: #ff0000;
  display: none;
  
}
